<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {%- if page.title -%}
      {{ page.title }} | {{ site.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  {%-seo title=false-%}
  {%-feed_meta-%}

  {%- if site.favicon and site.favicon != "" -%}
    <link rel="icon" type="image/svg+xml" href="{{ site.favicon | relative_url }}" />
  {%- endif -%}
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
  {%- assign enable_katex = page.katex | default: site.katex -%}
  {%- if enable_katex -%}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.css" integrity="sha384-OH8qNTHoMMVNVcKdKewlipV4SErXqccxxlg6HC9Cwjr5oZu2AdBej1TndeCirael" crossorigin="anonymous">
  {%- endif -%}

</head>
